@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-extrabold;
  }
  h2 {
    @apply text-2xl font-medium;
  }
  h3 {
    @apply text-xl font-medium;
  }
  p {
    @apply text-sm font-normal leading-5 py-2;
  }
  button {
    @apply rounded-full;
  }
  span {
    @apply text-sm text-[#766B6B];
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
